[SddmGreeterTheme]
Name=Delicious
Description=SDDM theme for DE/WM collectors/addicts
Author=Tuomas Salokanto
Screenshot=screenshot.png
License=CC-BY-SA
Type=sddm-theme
Version=1.0
MainScript=src/Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=stuomas@protonmail.com
Theme-Id=delicious
Theme-API=2.0
